body {
  background-color: aqua;
  
}


.title {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.screenshot {
  max-width: 90%;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 60px;

}

.container {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.quota {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
}